/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('https://responda-questionario.com/lojadomecanico/fonts/GellixBlack.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/XHx4Yooj5Y79.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/1RAuTveLEa8q.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/FNgNZrt2bN21.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/9wjarHRVk4GB.otf') format('truetype');
}