body {
	margin: 0 !important;
    padding: 0 !important;
	box-sizing: border-box !important;
}

#main {
	display: flex !important;
	align-items: center !important;
	flex-direction: column !important;
	justify-content: center !important;
}

#prize-container {
	margin: 30px 20px 60px 20px !important;
	padding: 20px !important;
	max-width: 550px !important;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25) !important;
	border-radius: 10px !important;
}

#prize-container p {
	line-height: 1.5 !important;
	margin-bottom: 15px !important;
}

#prize-description-container {
	padding: 15px !important;
	border-radius: 10px !important;
}

#prize-description-container p {margin-bottom: 10px !important;}

#shareButton {margin-bottom: 20px !important;}

@media screen and (max-width: 528px) {
	#prize-container {
		margin: 10vw 0px 30px 0px !important;
		padding: 0px 20px 20px 20px !important;
		max-width: 100% !important;
		box-shadow: none !important;
		border-radius: none !important;
	}
}

@media screen and (max-width: 468px) {
	#prize-container {padding: 0px 15px 20px 15px !important;}
}

@media screen and (max-width: 368px) {
	#prize-container {padding: 0px 10px 20px 10px !important;}
}