/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/dKAcbXBFBltm.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/ll92wQfBIvT7.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/PpeJKRrpDHy1.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/RqEzaEU38rJu.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/s6tz7hgyjdI3.otf') format('truetype');
}